# Dependencies
node_modules/

# IDE
.idea/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

# OS
.DS_Store

# Logs
*.log

# Environment
.env
.env.local
index_backup.html
frontend/videos/
